
*.cmake
*.bin
*.exe
*.make
*.ts
src/CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.c
*.d
*.rsp
*.log
*.check_cache
*.obj
src/CMakeFiles/Makefile2
*.a
src/Makefile
src/CMakeFiles/Progress/6
src/CMakeFiles/Progress/4
src/CMakeFiles/Progress/5
src/CMakeFiles/Progress/10
src/CMakeFiles/Progress/3
src/CMakeFiles/Progress/7
src/CMakeFiles/Progress/8
src/CMakeFiles/Progress/9
src/CMakeFiles/Progress/1
*.marks
src/CMakeFiles/board.dir/link.txt
src/CMakeFiles/piece.dir/link.txt
src/CMakeFiles/position.dir/link.txt
src/CMakeFiles/pawn.dir/link.txt
src/CMakeFiles/bishop.dir/link.txt
src/CMakeFiles/Progress/count.txt
src/CMakeFiles/scacchiera.dir/link.txt
src/CMakeFiles/TargetDirectories.txt
src/CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/CMakeCache.txt
