build/CMakeFiles/scacchiera.dir/progress.make
build/CMakeFiles/scacchiera.dir/objects1.rsp
*.make
*.marks
*.cmake
*.rsp
*.ts
*.check_cache
*.json
build/Makefile
*.bin
*.exe
*.log
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/scacchiera.dir/link.txt
build/CMakeFiles/position.dir/link.txt
build/CMakeFiles/piece.dir/link.txt
build/CMakeFiles/pawn.dir/link.txt
build/CMakeFiles/knight.dir/link.txt
build/CMakeFiles/board.dir/link.txt
build/CMakeFiles/3.21.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeCache.txt
build/CMakeFiles/3.21.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/queen.dir/link.txt
build/CMakeFiles/king.dir/link.txt
.gitignore
.vscode/settings.json
*.json
build/CMakeFiles/bishop.dir/link.txt
*.internal
*.obj
*.cxx
*.d
*.a
build/CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.c
CMakeCache.txt
CMakeFiles/board.dir/link.txt
*.includecache
*.o
CMakeFiles/king.dir/link.txt
CMakeFiles/knight.dir/link.txt
CMakeFiles/Makefile2
CMakeFiles/pawn.dir/link.txt
CMakeFiles/position.dir/link.txt
CMakeFiles/queen.dir/link.txt
Makefile
scacchiera
CMakeFiles/TargetDirectories.txt
CMakeFiles/scacchiera.dir/link.txt
CMakeFiles/piece.dir/link.txt
CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.out
CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/rook.dir/link.txt
CMakeFiles/bishop.dir/link.txt
CMakeFiles/rook.dir/link.txt
*.json
